<div id="message_add_file_deposit" class="m-3"></div>
<div class="container">
    <!-- Title -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Titre de la boîte de dépôt" aria-label="Titre"
            aria-describedby="basic-addon1" id="file_deposit_title">
    </div>

    <!-- Extension -->
    <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file fa-fw"></i></span>
        <input type="text" class="form-control" placeholder=".pdf, .doc, .docx, .odt" aria-label="Extension"
            aria-describedby="basic-addon1" id="file_deposit_extensions" value = ".pdf, .doc, .docx, .odt" >
    </div>

    <!-- Size -->
    <div class="input-group mt-3 mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-boxes-stacked fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="5" aria-label="Taille"
            aria-describedby="basic-addon1" id="file_deposit_size" value="5">
            <span class="input-group-text" id="basic-addon1">Mo</span>
    </div>

    <!-- Instructions (summernote) -->
    Consignes :
    <div id="file_deposit_instructions"></div>

    <!-- Password -->
    <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Code de dépôt" aria-label="Mot de passe"
            aria-describedby="basic-addon1" id="file_deposit_pass">
    </div>
    <p class="mb-3 text-secondary">Mot de passe requis pour déposer un fichier.</p>

</div>
</div>

<script>
    $('#file_deposit_instructions').summernote();
</script>