<div id="message_mod_file_deposit" class="m-3"></div>
<div class="container">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="file_deposit_list_modify"><i
                    class="fa-solid fa-box-open fa-fw"></i></label>
        </div>
        <select class="custom-select file_deposit_list" id="file_deposit_list_modify"
            onchange="selectFileDeposit(this.value)">
        </select>
    </div>

    <div id="modify_file_deposit">

        <!-- ID -->
        <input type="text" id="file_deposit_mod_id" hidden>

        <!-- Title -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Titre de la boîte de dépôt" aria-label="Titre"
                aria-describedby="basic-addon1" id="file_deposit_mod_title">
        </div>

        <!-- Extension -->
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file fa-fw"></i></span>
            <input type="text" class="form-control" placeholder=".pdf, .doc, .docx, .odt" aria-label="Extension"
                aria-describedby="basic-addon1" id="file_deposit_mod_extensions">
        </div>

        <!-- Size -->
        <div class="input-group mt-3 mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-boxes-stacked fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="5" aria-label="Taille" aria-describedby="basic-addon1"
                id="file_deposit_mod_size">
            <span class="input-group-text" id="basic-addon1">Mo</span>
        </div>

        <!-- Instructions (summernote) -->
        Consignes :
        <div id="file_deposit_mod_instructions"></div>

        <!-- Password -->
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Code de dépôt" aria-label="Mot de passe"
                aria-describedby="basic-addon1" id="file_deposit_mod_pass">
        </div>
        <p class="mb-3 text-secondary">Mot de passe requis pour déposer un fichier.</p>

    </div>
</div>
</div>

<script>
    $('#file_deposit_mod_instructions').summernote();
</script>