<!-- Footer -->
<footer class="sticky-footer bg-white" id="footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Th. G 2020-2023</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
