<!-- Send message to clients -->
<div class="text-center">
  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#messageModal">
    <i class="fa-solid fa-comment"></i>&nbsp;Message
  </button>

  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#linkModal">
    <i class="fa-solid fa-link"></i>&nbsp;Lien
  </button>

  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#fileModal">
    <i class="fa-solid fa-file"></i>&nbsp;Fichier
  </button>

  <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#cleanModal">
    <i class="fa-solid fa-trash"></i>&nbsp;Nettoyer
  </button>
</div>


<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel"><i class="fa-solid fa-comment"></i>&nbsp;Envoyer un message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div id="message_send_message" class="m-3"></div>

        <!-- Choose classroom -->
        Classe :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="classroom"><i class="fa-solid fa-user-graduate fa-fw"></i></label>
          </div>
          <select class="custom-select classroom_list" id="classroom_list_message">
            <option selected>Choisir...</option>
          </select>
        </div>

        <!-- Choose Message -->
        Message :<br>
        <div class="input-group mb-3">
          <textarea class="form-control" placeholder="Un message ici" id="messageContent"></textarea>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="sendMessage" onclick="sendMessage();">
          <i class="fa-solid fa-paper-plane"></i>&nbsp;
          Envoyer</button>
      </div>
    </div>
  </div>
</div>
<!-- End Send message to clients -->

<!-- Send link to clients -->
<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="linkModalLabel"><i class="fa-solid fa-link"></i>&nbsp;Envoyer un lien</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div id="message_send_url" class="m-3"></div>
        <!-- Choose classroom -->
        Classe :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="classroom"><i class="fa-solid fa-user-graduate fa-fw"></i></label>
          </div>
          <select class="custom-select classroom_list" id="classroom_list_link">
            <option selected>Choisir...</option>
          </select>
        </div>

        <!-- Choose URL -->
        URL :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="url"><i class="fa-solid fa-link fa-fw"></i></label>
          </div>
          <input type="text" class="form-control" id="url" aria-describedby="urlHelp"
            placeholder="https://ensciences.fr">
        </div>

        <!-- Choose between notif and modal -->
        Mode :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="mode"><i class="fa-solid fa-toggle-on fa-fw"></i></label>
          </div>
          <select class="custom-select" id="mode">
            <option value="notif">Notification</option>
            <option value="modal">Contenu intégré</option>
            <option value="both">Notification + Contenu intégré</option>
            <option value="window">Nouvel onglet</option>
          </select>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="sendRessource" onclick="sendLink();">
          <i class="fa-solid fa-paper-plane"></i>&nbsp;
          Envoyer</button>
      </div>
    </div>
  </div>
</div>
<!-- End Send link to clients -->

<!-- Send file to clients -->
<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="fileModalLabel"><i class="fa-solid fa-file"></i>&nbsp;Envoyer un fichier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div id="message_send_file" class="m-3"></div>
        <!-- Choose classroom -->
        Classe :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="classroom"><i class="fa-solid fa-user-graduate fa-fw"></i></label>
          </div>
          <select class="custom-select classroom_list" id="classroom_list_file">
            <option selected>Choisir...</option>
          </select>
        </div>

        <!-- Choose Message -->
        Fichier :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="file"><i class="fa-solid fa-file fa-fw"></i></label>
          </div>
          <input type="file" class="form-control" id="file" aria-describedby="fileHelp">

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-times"></i>&nbsp;
            Annuler</button>
          <button type="button" class="btn btn-primary" id="sendMessage" onclick="sendFile();">
            <i class="fa-solid fa-paper-plane"></i>&nbsp;
            Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Send file to clients -->

<!-- Clean messages -->
<div class="modal fade" id="cleanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="cleanModalLabel"><i class="fa-solid fa-trash"></i>&nbsp;Nettoyer les messages</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div id="message_clean" class="m-3"></div>
        <!-- Choose classroom -->
        Classe :<br>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <label class="input-group-text" for="classroom"><i class="fa-solid fa-user-graduate fa-fw"></i></label>
          </div>
          <select class="custom-select classroom_list" id="classroom_list_clean"
            onchange="selectClassroomMessage(this.value);">
            <option selected>Choisir...</option>
          </select>
        </div>

        <!-- Choose Message -->
        <div id="message_list" class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Message</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="message_list_body">
            </tbody>
          </table>
        </div>
      </div>

    <div class="modal-footer">
      <span class="me-auto">
        <button type="button" class="btn btn-danger"
          onclick="deleteAllMessages();" id="deleteMessages" disabled>
          <i class="fa-solid fa-trash"></i>&nbsp;
          Supprimer tous les messages</button>
      </span>

      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa-solid fa-times"></i>&nbsp;
        Fermer</button>
    </div>

  </div>
</div>
</div>


<script>
  $(document).ready(function () {

    // Instanciate password modal
    messageModal = new bootstrap.Modal(document.getElementById("messageModal"), {});
    linkModal = new bootstrap.Modal(document.getElementById("linkModal"), {});
    fileModal = new bootstrap.Modal(document.getElementById("fileModal"), {});
  });
</script>