<script>
  $(function () {
    var includes = $("[data-include-module-views]");
    jQuery.each(includes, function () {
      var file = $(this).data("include-module-views") + ".html";
      $(this).load(file);
    });
    loadJS("modules/quiz/js/main.js");
    loadJS("modules/quiz/js/add_quiz.js");
    loadJS("modules/quiz/js/modify_quiz.js");
    loadJS("modules/quiz/js/results_quiz.js");

    // Initialize tooltips
    let tooltipTriggerList = document.querySelectorAll('[data-tooltip="tooltip"]')
    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  });

  $("#modules_tbody").append(
    `
    <tr>
      <th scope="row">
        <div class="text-secondary">
          <i class="fa-solid fa-circle-question fa-fw"></i>&nbsp;Quiz
        </div>
      </th>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#quizModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Ajouter un quiz">
            <i class="fa-solid fa-plus"></i>
          </button>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#quizModifyModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Modifier un quiz">
            <i class="fa-solid fa-edit"></i>
          </button>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#quizResultsModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Résultats des quiz">
            <i class="fa-solid fa-chart-bar"></i>
          </button>
        </div>
      </td>
    </tr>
    `
  )
</script>

<!-- Add a quiz -->
<div class="modal fade" id="quizModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="quizModalLabel"><i class="fa-solid fa-plus"></i>&nbsp;Ajouter un quiz
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/quiz/views/add_quiz"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearCreateQuiz();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="addQuizSubmit" onclick="createQuiz();">
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>

</div>


<!-- Modify a quiz -->
<div class="modal fade" id="quizModifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="quizModifyModalLabel"><i class="fa-solid fa-edit"></i>&nbsp;Modifier un
          quiz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/quiz/views/modify_quiz"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteQuiz();" id="deleteQuiz" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearModifyQuiz();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="modifyQuizSubmit" onclick='modifyQuiz();' disabled>
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>
</div>

<!-- Results quiz -->
<div class="modal fade" id="quizResultsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width:95%;">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="quizResultsModalLabel"><i class="fa-solid fa-chart-bar"></i>&nbsp;Résultats
          des quiz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/quiz/views/results_quiz"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteResults();" id="deleteResults" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>&nbsp;
          Fermer</button>
      </div>
    </div>
  </div>
</div>