<div id="message_notebook_files" class="m-3"></div>
<div class="container-fluid">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="list_notebook_files"><i
                    class="fa-brands fa-python fa-fw"></i></label>
        </div>
        <select class="custom-select notebook_list" id="list_notebook_files" onchange="loadNotebookFiles(this.value)">
        </select>
    </div>

    <table id="notebook_files" class="table table-striped nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Nom de l'élève</th>
                <th data-class-name="priority">Date</th>
                <th>Fichier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>

<script>
    notebook_files_table = new DataTable('#notebook_files', {
        responsive: true,
        select: true,
        order: [[2, 'desc']],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
        },
        select: {
            style: 'multi',
            // disable select info
            info: false
        }
    });
</script>